//colors

$black: #111111;
$gray: #575757;
$grayBg: #F3F3F4;
$orange: #FF9514;

.App {
  text-align: left;
  flex-direction: column;
  display: flex;
  justify-content: center;
  height: 100vh;
}

.header {
  padding-left: 47px;
  line-height: 90%;
}

.title {
  font-family: "Nekst-Black";
  font-size: 54px;
  line-height: 90%;
  color: $black;
}

.header__title {
  width: 753px;
  height: 98px;
}

.calculation {
  display: flex;
  justify-content: space-between;
  padding-left: 47px;
  padding-right: 48px;
  padding-top: 24px;
  .calculation__period,
  .calculation__payment,
  .calculation__price {
    padding-bottom: 5px;
    width: 427px;
    height: 119px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.calculation__title {
  font-family: "Gilroy";
  color: $gray;
  font-size: 16px;
  line-height: 20px;
}

.calculation__input {
  background-color: $grayBg;
  width: 427px;
  height: 68px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  position: relative;
}

.calculation__data{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  align-items: center;
}

.calculation_count, .calculation_unit {
  font-family: "Nekst-Black";
  font-size: 30px;
  line-height: 36px;
  color: $gray;
}

.terms {
  display: flex;
  justify-content: space-between;
  padding-left: 47px;
  padding-right: 48px;
  padding-top: 32px;
  .calculation__period,
  .calculation__payment,
  .calculation__price {
    width: 427px;
    height: 119px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.sum {
  font-family: "Nekst-Black";
  font-size: 54px;
  line-height: 90px;
  color: #575757;
}

.calculation__sum { 
  width: 427px;
  height: 81px;
}

.button {
  width: 426px;
  height: 68px;
  color: #ffffff;
  background-color: #FF9514;
  border-radius: 40px;
  font-family: "Nekst-Black";
  font-size: 30px;
  line-height: 30px;
}

.calculation__month {
  height: 81px;
}

.calculation__button {
  height: 81px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.first,
.second,
.third {
  height: 244px;
  width: 427px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}